.movies_flex {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: calc(100% / 52);
    overflow: scroll;
    height: 100%;
    justify-content: center;
    @media (max-width: 980px){
        gap: calc(100% / 20);
    }
}