.Layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    .movies_layout{
        width: calc(100% - 320px);
        display: flex;
        flex-direction: column;
        @media (max-width: 980px){
            width: 100%;
        }
    }
}